[submodule "pantene"]
	path = pantene
	url = https://github.com/roderyc/pantene.git
[submodule "terminfo"]
	path = terminfo
	url = https://github.com/scheme/terminfo.git
[submodule "soosy"]
	path = soosy
	url = https://github.com/scheme/soosy.git
